
/* Header Section*/
h1 {
    font-family: 'Cookie', cursive;
    color: #6e174c;
}

h2, h3 {
color: #6e174c;
font-family: Georgia, 'Times New Roman', Times, serif
}

#header-border {
    background-color: #f2d6de;
    font-family: 'Cookie', cursive;
    border-radius: 5%;
    max-width: 1600px;
    max-height: 300px;
}

#header-border h1 {
    color: #6e174c;
    text-align: center;
    text-decoration: none;
    font-size: 90px;
    padding-bottom: 75px;
}

#header-border ul {
    display: flex;
    gap: 20px;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
}

 div > img {
    width: 300px;
    height: 250px;
    border-radius: 50px;
}

/*contents section*/

.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-blocks {
    display: flex;
    flex-direction: row;
    background-color: #e6dcdc;
    font-family: 'Cookie', cursive;
    flex-basis: 30%;
    border-radius: 5%;
}

.tag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
}

.book-table {
    display: flex;
    align-items: center;
    flex-direction: row;
}


/*Booking Form Section*/

.bookings div {
    background-color: #f2d6de;
    max-height: 1600px;
    max-height: 500px;
}

.bookings h3 {
    color: #6e174c;
}