/*For Desktop*/
/* Header Section*/
.banner {
    border-radius: 5%;
    width: 100%;
    height: 200px;
    padding: 50px;
    display: flex;
    background-image: url('/assets/images/background/beansheading.webp');
    flex-direction: row-reverse;
    justify-content: space-between;
    background-repeat: repeat-x;
    background-size: cover;
}

.logo-container {
    display: flex;  
}

.logo-container img {
    height: 200px;
    width: 200px;
    margin-top: 70px;
    margin-right: 100px;
    border-radius: 100%;
}

.nav-bar {
    display: flex;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
}

.nav-bar > ul {
    display: flex;
    flex-flow: column;
    justify-content: left;
    list-style-type: none;
    text-decoration: none;
    padding-top: 30px;
    font-size: 20px;
    gap: 15px;
}

a:link {
    text-decoration: none;
    list-style-type: none;
    color: #6e174c;
}

a:visited {
    text-decoration: none;
    color: #a25614
}

a:hover {
    text-decoration: none;
    list-style-type: none;
    color: #6b6c6b;
}

a:active {
    text-decoration: none;
    color: #6e174c;
}

p > li {
    text-decoration: none;
    flex-direction: column;
    list-style-type: none;
}

h1 {
    font-family: 'Great Vibes', cursive;
    color: #6e174c;
    font-size: 40px;
}

h2, h3, h4 {
 color: #6e174c;
 font-family: 'Darker Grotesque', sans-serif;
 font-size: 30px;
 font-weight: bolder;
}

p {
    color: #6b6c6b;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.paragrafh-text {
 text-align: center;
}

.bundle-coffee h1 {
    font-family: 'Great Vibes', cursive;
    color: #6e174c;
    font-size: 75px;
    text-align: center;
    margin-top: 15px;
    padding-top: 0;
}

/*contents section*/

.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.content-block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cookie', cursive;
    flex-basis: 30%;
    border-radius: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

.content-block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cookie', cursive;
    flex-basis: 30%;
    border-radius: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

/*Booking Form Section*/

.bookings-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

 div > img {
    border-radius: 50px;
    margin-top: 45px;
    width: 400px;
    height: 350px;
}

.images {
    justify-content: space-evenly;
}

.enquiries-form {
    width: max-content;
    margin: 0 auto;
    border-radius: 10%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
}

.enquiries-form h3 {
    font-size: 30px;
}

#enquiries {
    margin-top: 8px;
}

.name {
    margin-top: 10px;
}

.submit {
 margin-top: 10px;
 margin-left: 50px;
}

/*Menu Page*/

#cafe-menu {
    display: flex;
    justify-content: center;
    width: 30%;
    flex-flow: column;
    height: 550px;
    border-radius: 10%;
}

#cafe-menu > ul {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    }

#menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*Gallery Page*/

.gallery {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    padding: 20px 20px;
}

.gallery-sections {
    flex-direction: column;
}

.gallery-text {
    display: block;
    justify-content: center;
    text-align: center;
}

footer {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 background-color: #a25614;
 min-width: 100%;
 max-height: 150px;
}

footer p {
    color: #eee;
    font-size: 15px;
    font-family: 'Darker Grotesque', sans-serif;
    margin: 20px;
    display: flex;
    align-items: center;
}

.footer-list {
 color: #eee;
 font-family: 'Darker Grotesque', sans-serif;
 font-size: 15px;
 font-weight: bold;
 padding: 0%;
}

.media-links {
 display: flex;
 flex-direction: column;
}

.media-links ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
}

/*For ipads*/ 
@media screen and (max-width: 900px) {
   
 .bundle-coffee h1 {
    font-size: 50px;
    margin-left: 5%;
    }

 .banner {
    display: flex;
    width: 100%;
    padding: 0;
 }

 .nav-bar ul {
 font-size: 15px;
 padding-left: 5px; 
 gap: 15px;
 }

 .logo-container img {
 margin-top: 0%;
 max-height: 100px;
 max-width: 100px;
 margin-right: 100px;
 margin-top: 50px;
 border-radius: 100%
 }

 h3 {
    font-size: 20px;
 }

 #tag {
  font-size: smaller;
 }

 .content-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
 }

 img {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }

 .gallery {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
 }

 .bookings-form {
    display: flex;
    flex-direction: column;
 }

 #cafe-menu {
    display: flex;
    justify-content: center;
    width: 60%;
    flex-flow: column;
    height: 550px;
 }

 .enquiries-form {
    margin-bottom: 10%;
 }

 footer {
 display: flex;
 flex-direction: row;
 min-width: 100%;
 max-height: 100px;
 }

 footer p {
    font-size: 10px;
 }

 .footer-list {
    font-size: 10px;
 }
   
   .media-links {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   color: #eee;
   }
}

/*For Mobiles*/ 
@media screen and (max-width: 450px) {
   
 .bundle-coffee h1 {
  font-size: 45px;
  margin-left: 5%; 
 }
   
   .banner {
       display: flex;
       width: 100%;
       padding: 0;
       margin: 0;
   }
   
   .nav-bar {
   font-size: 18px;
   padding-left: 5px;
   justify-content: left;
   margin-left: 0;
 }
   
   .logo-container {
   max-height: 100px;
   max-width: 100px;
   border-radius: 100%;
   }
   
   h3 {
       font-size: 20px;
   }
   
   .content-section {
       display: flex;
       flex-direction: column;
       width: 80%;
       margin: 0 auto;
   }
   
   div > img {
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       width: 300px;
       height: 250px;
   }

 .gallery {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap; }


 .gallery-sections {
    flex-wrap: wrap;
    padding: 20px; 
 }
   
 .bookings-form {
   display: flex;
   flex-direction: column;
   }

   .enquiries-form {
    max-width: 400px;
   }

   #enquiries {
    max-width: 350px;
   }
   
   #cafe-menu {
       display: flex;
       justify-content: center;
       width: 70%;
       flex-flow: column;
       height: 560px;
   }
}